services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - "8096:8096"
    volumes:
      - ./config:/config:Z
      - ./cache:/cache:Z
      - ./media:/media:Z
    restart: unless-stopped
